@use "variables" as *;
@import 'mixins';

.featured {
  font-family: "Gothic A1", sans-serif;
  &-header {
    @include text-styles($font-weight: 900, $font-size: 26px, $line-height: 36px);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: $primary-text-color;

    @include tablet {
      @include text-styles($font-weight: 900, $font-size: 42px, $line-height: 42px);
      margin-bottom: 60px;
    }
  }

  &-products {
    max-width: 1200px;
    margin: 0 auto;
    &__button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 11px;
    }

    &__list {
      @include desktop {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        margin: 0 auto;
        column-gap: 40px;
        row-gap: 119px;
        padding-bottom: 147px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      @include desktop {
        grid-column: span 3;
        padding-bottom: 0;
      }
      &-link {
      }

      &-img {
        width: 100%;
      }
      &-text {
        @include text-styles($font-weight: 700, $font-size: 22px);
        letter-spacing: 0;
        width: fit-content;
        color: $primary-text-color;
      }

    }
  }
}

.add-to-cart {
  @include text-styles($font-weight: 400, $font-size: 16px, $line-height: 26px);
  width: 285px;
  height: 62px;
  border-radius: 40px;
  border-width: 1px;
  background: $primary-addCard-color;
  text-align: center;
  color: $addCard-text-color;
}