.featured {
  font-family: "Gothic A1", sans-serif;
}
.featured-header {
  font-weight: 900;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #656874;
}
@media (min-width: 768px) {
  .featured-header {
    font-weight: 900;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 60px;
  }
}
.featured-products {
  max-width: 1200px;
  margin: 0 auto;
}
.featured-products__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 11px;
}
@media (min-width: 1024px) {
  .featured-products__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 119px;
    padding-bottom: 147px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.featured-products__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  .featured-products__item {
    grid-column: span 3;
    padding-bottom: 0;
  }
}
.featured-products__item-img {
  width: 100%;
}
.featured-products__item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 42px;
  letter-spacing: 0;
  width: fit-content;
  color: #656874;
}

.add-to-cart {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 285px;
  height: 62px;
  border-radius: 40px;
  border-width: 1px;
  background: #464B90;
  text-align: center;
  color: #fff;
}
